HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#Database configuration
application-db.yml

#secret
application-key.yml

#Google Cloud API Keys
/src/main/resources/keys/
/src/test/resources/keys/

#Audio test files
/mp4/

# 임시 변환파일
*.tmp
*.swp

# FFmpeg 변환 중 생길 수 있는 임시 파일
*.flac
*.wav
*.mp3
*.webm
*.m4a

# ffmpeg binary 는 제외 ❌ (꼭 포함해야 하니까)
!src/main/resources/bin/ffmpeg-*

